In [17]:
import pandas as pd

df_market = pd.read_csv('datasets/train.csv')
df_tweets = pd.read_csv('datasets/tweets_from2015_#Ibex35.csv')

In [18]:
df_market.shape

(6554, 8)

In [19]:

df_market.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Target
0,1994-01-03,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0
1,1994-01-04,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1
2,1994-01-05,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1
3,1994-01-06,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1994-01-07,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1

In [20]:
df_tweets.shape

(9801, 3)

In [21]:
df_tweets.head()

,tweetDate,handle,text
0,Sat Apr 09 14:47:45 +0000 2022,abelac62,He hecho el repaso de todos los componentes de...
1,Thu Apr 07 19:14:36 +0000 2022,LluisPerarnau,Els projectes que han presentat les empreses d...
2,Mon Apr 04 16:48:45 +0000 2022,Pegaso121080,"Por si no lo has visto, o no lo encuentras en ..."
3,Tue Apr 05 07:23:16 +0000 2022,zonavalue,ðŸ“ˆ #BOLSA: El #Ibex35 abre en ðŸŸ¢ \n\nðŸ‡ªðŸ‡¸ #Ibex35 ...
4,Thu Mar 31 16:07:43 +0000 2022,EPeconomia,"El #Ibex35 retrocede un 0,4% en marzo y un 3,0..."

In [22]:
print(df_market.isnull().sum()) # amount of days without register

Date           0
Open         133
High         133
Low          133
Close        133
Adj Close    133
Volume       133
Target         0
dtype: int64

In [23]:
null_map = df_market.isnull()

def get_pos_no_null_forward(null_map, column, i, pos_forward):
    while null_map[column][i + pos_forward] == True:
        pos_forward += 1
    return pos_forward

def get_pos_no_null_backward(null_map, column, i, pos_backward):
    while null_map[column][i - pos_backward] == True:
        pos_backward += 1
    return pos_backward

columns = df_market.columns

for column in columns:
    if column != 'Date' and column != 'Target':
        for i in range(0, len(null_map)):
            pos_backward = 1
            pos_forward = 1
            if null_map[column][i] == True:
                pos_backward = get_pos_no_null_backward(null_map, column, i, pos_backward)
                pos_forward = get_pos_no_null_forward(null_map, column, i, pos_forward)
                df_market.at[i, column] = (df_market[column][i - pos_backward] + df_market[column][i + pos_forward]) / 2

In [24]:
print(df_market.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Target       0
dtype: int64

In [25]:
print(df_market.isnull())
df_market.to_csv('datasets/clean.csv')

       Date   Open   High    Low  Close  Adj Close  Volume  Target
0     False  False  False  False  False      False   False   False
1     False  False  False  False  False      False   False   False
2     False  False  False  False  False      False   False   False
3     False  False  False  False  False      False   False   False
4     False  False  False  False  False      False   False   False
...     ...    ...    ...    ...    ...        ...     ...     ...
6549  False  False  False  False  False      False   False   False
6550  False  False  False  False  False      False   False   False
6551  False  False  False  False  False      False   False   False
6552  False  False  False  False  False      False   False   False
6553  False  False  False  False  False      False   False   False

[6554 rows x 8 columns]